<div class="m-5" style="padding-top: 10%">
  <iframe src="http://164.41.147.245:5601/app/kibana#/dashboard/440ff100-44cd-11e8-9ebf-ebf637de264e?embed=true&_g=(refreshInterval%3A('%24%24hashKey'%3A'object%3A419'%2Cdisplay%3A'5%20seconds'%2Cpause%3A!f%2Csection%3A1%2Cvalue%3A5000)%2Ctime%3A(from%3A'2016-01-01T02%3A00%3A00.000Z'%2Cinterval%3Aauto%2Cmode%3Aabsolute%2Ctimezone%3AAmerica%2FMontevideo%2Cto%3A'2016-12-31T02%3A00%3A00.000Z'))" height="1000vh" width="100%"></iframe>
</div>